*{
    margin: 0%;
    padding: 0%;
}
main{
    margin-top: 12rem;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}
body{
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
a{   
    text-decoration: none;
    text-align: center;
    color: white;
    
}
.linkincon{
 color: #6142FE;
}
h1{
    color: #6142FE;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
h3{
    text-align: center;
    margin: 2% 0%;
}
.linkInH3{
    color: #6142FE;
    font-size: 25px;

}
.nbcircle{
    border-radius: 1rem;
    /* border:  1px solid #6142FE; */
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    background-color: #409AFE;
    color: white;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 0.8rem;
    right: 1.8rem;
    
}
.nbcircle div {
    margin-top: 0.2rem;
}
.sousligner{
    background-color: #6142FE;
    width: 10rem;
    margin: 1rem auto;
    border: 1px solid #6142FE;
}
.mainInscriptionConnexion{
    width:85%;
    margin: 8rem auto 0 auto;
}

.formAdmin{
    width: 30rem;
}
.sectionForm{
    display: flex;
    margin: auto;
    width: 90rem;

}
.sectionForm article{
    align-self: center;
}

.sectionFormComment{
    justify-content: space-around;
}
.sectionForm>article{
    width: 30rem;
}
.sectionForm>article>form, .sectionFormComment>div>form{
    border: 5px solid #6142FE;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 0 8px 29px gray;
}
.inputform{
    width: 100%;
    border: 2px solid #6142FE;
    border-radius: 10px;
    height: 35px;
    background-color: #f6f6f6;
    margin: 0 0 1% 0;
    padding: 0 1%;

}
.sectionForm>article>img{
    margin: 0 0 0 10rem;
}
.commentaireForm{
    display: flex;
    justify-content: space-around;
}
.listecommentaire{
    border:  1px solid #6142FE;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}
.listecommentaire a{
    color: #6142FE;
}
.subconlinkbtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subconlinkbtn>input, .btnsubmit{
    width: 50%;
    height: 35px;
    background-color: #6142FE;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 2% 0 1% 0;
    font-weight: bold;
}
.btnsubmit{
    margin: auto;
}

.subconlinkbtn>a{
    color: #6142FE;
    text-decoration: none;
    font-weight: bold;
    height: 35px;
    background-color: white;
    border: 1px solid #6142FE;
    width: 55%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
    margin: 2% 0 0 0;
}
.labeform,.labelTelephoneUniqueTitle{
    color: #6142FE;
    margin: 0 0 1% 0;
    font-weight: bold;
}
.labelTelephoneUniqueTitle{
    font-size: 120%;
}
.labelTelephoneUniqueData{
    font-size: 110%;
}
#accueilsection,#sectionTelephoneUnique{
    width: 78.125rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;

}
#sectionTelephoneUnique{
    align-items: center;
    margin-top: 5%;
}
#sectionTelephoneUnique>article>div{
    margin: 2% 0 0 0;
    
}
#accueilsection>article{
    width: 310px;
    height: 420px;
    border: 1px solid rgb(97, 66, 254);
    border-radius: 20px;
    margin: 2% 0;
    padding: 1%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 23px 19px 30px 19px rgb(181, 181, 181);
    background-color: white;
}
.btnAddTelephone{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-color: #6142FE;
    background-color: #6142FE;
}
.btnAddTelephone>i{
    font-size: 25px;
    margin: auto;
    color: white;
}

.paragrapheArticle{
    color: #6142FE;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0 10px 0;
}
.divArticle{
    display: flex;
    justify-content: space-between;

    padding: 0 10px;
    align-items: center;

}

#logo{
    /* width: 100%; */
    height: 100px;
}
.imgTelephoneIndex{
    width: 20rem;
}
.imgTelephones{
    width: 10rem;
}
#telephoneunique{
    width: 30rem
}
.none{
    display: none;
}
li{
    list-style-type: none;
}


.alert>div{
    display: flex;
    justify-content: space-between;

}

@keyframes apparition {
    from {
        opacity: 0; /* Début de l'animation : opacité à 0 */
    }
    to {
        opacity: 1; /* Fin de l'animation : opacité à 1 */
    }
}
.alert,.text-danger {
    max-height: 50px; /* Ajustez selon la taille de votre message */
    transition: opacity 1s ease-in-out, max-height 5s ease-in-out; /* Transitions pour l'opacité et la hauteur */
    overflow: hidden;
    border: 1px solid;
    width: 500px;
    margin: 200px 0 10px 50px;
    padding: 5px 0px 5px 10px;
    /* background-color: #28a745; */
    color: white;
    

}


.alert-success,.alert-succes{
    background-color: #28a745 !important;
}
.text-danger{
    background-color: #DC3545;
}
.error-formulaire{
    margin-top: 150px;
    margin-bottom: -150px;
}
@keyframes disparition {
    from {
        opacity: 1; 
    }
    to {
        opacity: 0; 
        /* display: none; */
    }
}


.disparition {
    /* animation: disparition 3s forwards; */
    /* max-height: 0; */
    display: none;
}
.cross{
    cursor: pointer;
}

/* NAVBAR */


ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
li{
    list-style: none;
    
}
.nav__buttons{
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.btn:hover{
    background-color: #409AFE;
}
.btn{
    display: block; /* Rend le lien comme un bloc pour envelopper le contenu */
    padding: 20px; /* Ajoute un espacement interne */

    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: #6142FE;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
}
.btncommentaire{
    width: 15rem;
}
.icon{
    color: #6142FE;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: 5px;
    margin: 5px 50px;
    position: relative;
    top: 1rem;
}
.fa-basket-shopping,
.fa-circle-user{
 font-size: 3rem;
 cursor: pointer;
 transition: color .4s;
 padding: 0.5rem;
}
.containe{
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}
.search{
    padding-top: 1rem;
    /* backdrop-filter: blur(1px); */
    margin-left: 155px;
    position: relative;
    display: inline-block;
}
.search i{
    position: absolute;
    right: 600px;
    top: 35px;
    transform: translateY(-50%);
    color: #aaa;
}
.search__form{
    padding-top: 1.5rem;
}
.search input{
    box-shadow: 0 8px 32px hsla(230, 75%, 32%, .4);
    border: 1px solid #6142FE ;
    outline: none;
    font-size: 14px;
    border-radius: 15px;
    height: 2.3rem;
    width: 25rem;
    background-color: hsla(230, 75%, 32%, .1);
    padding: 15px;


}
.search__input{
    padding-left: 30px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc ;
    height: 2rem;
    outline: none;
    font-size: 14px;
    box-shadow: 0 8px 32px hsla(230, 75%, 32%, .4);
    border: 1px solid #6142FE ;
    background-color: hsla(230,75%,32%,.1);
}
i{
    font-size: 20px;
    color: #6142FE;
    outline: none;
}
:is(.fa-basket-shopping,
.fa-circle-user):hover{
    color: #409AFE;
}

.Logo{
    width: 4rem;
    border-radius: 20%;
}

.search__input::placeholder{
    color: grey;
    text-align: center;
}

/* Cible les boutons d'annulation de la recherche dans les navigateurs WebKit */
#search-input {
    position: relative;
    left: 4.5rem;
    width: 80%;
    padding: 8px;
    margin-bottom: 5px;
}

#telephone-list {
    list-style-type: none; /* Supprimer les puces */
    padding: 0; /* Supprimer les marges internes */
    max-height: 300px; /* Limiter la hauteur pour permettre le défilement */
    overflow-y: auto; /* Permettre le défilement vertical */
    border: 1px solid #ccc; /* Bordure pour délimiter la liste */
    border-radius: 4px; /* Coins légèrement arrondis */
    margin-top: 10px; /* Espacement par rapport à la barre de recherche */
}
/* Styles pour chaque élément de la liste */
#telephone-list li {
    padding: 10px; /* Espacement interne pour chaque élément */
    border-bottom: 1px solid #eee; /* Ligne de séparation entre les éléments */
    cursor: pointer; /* Changer le curseur pour indiquer qu'ils sont interactifs */
    transition: background-color 0.3s; /* Transition douce pour le changement de couleur de fond */
    visibility: hidden; /* Masquer initialement */
}

 /* Affiche uniquement les éléments visibles */
#telephone-list li[data-visible="true"] {
    visibility: visible;
}

/* Couleur de fond lors du survol */
#telephone-list li:hover {
    background-color:#409AFE; /* Couleur de fond claire lors du survol */
}

/* Ajoutez des styles pour masquer et afficher l'icône */
.search-icon {
    position: absolute;
    left: 10px; /* Ajustez la position de l'icône */
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; /* Ajustez la couleur de l'icône */
    transition: opacity 0.3s; /* Transition douce pour masquer l'icône */
}

.search__input {
    width: 100%;
    padding-left: 30px; /* Laisser de l'espace pour l'icône */
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 2rem;
    font-size: 14px;
}

.search__input:focus + .search-icon, /* Quand le champ de recherche est focus */
.search__input:not(:placeholder-shown) + .search-icon { /* Quand le placeholder n'est pas visible */
    opacity: 0; /* Masquer l'icône */
}

li a{
    display: block;
}

/* Dropdown styles */
.dropdown {
    position: relative;
    display: inline-block;
    
}


/* Le contenu du dropdown, caché par défaut */
.dropdown-content {
    display: none;
    position: absolute;
    top: 10px;
    background-color: #6142FE;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Liens à l'intérieur du dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Changement de couleur lors du survol des items du dropdown */
.dropdown-content a:hover{
    background-color: #f1f1f1
}

/* Affichage du dropdown au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Changement de couleur du bouton lors du survol */
/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */


.main-container {
    
}

.panier-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.panier-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.panier-item:last-child {
    border-bottom: none;
}

.modele {
    font-size: 1.2em;
    color: #6142FE;
}

.prix, .quantite, .total {
    font-size: 1em;
    margin: 5px 0;
}

.total {
    font-weight: bold;
    color: #6142FE;
}


/* TABLEAU */

table{
    width: 70rem;
    margin: auto;
    border: 1px solid #6142FE;
    border-collapse: collapse;
    text-align: center;

    
}
thead{
    background-color: #6142FE;
    color: white;
    height: 3rem;
}
td{
    height: 3rem;
}
td>a{
    color: #6142FE;
    text-decoration: none;
}
td>img{
    width: 20rem;
}

#sectionTelephoneUnique {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem; /* 32px */
}


.telephoneUniqueDescription {
    flex: 1;
    min-width: 20rem; /* 320px */
}

.telephoneUniqueDescription article {
    margin-bottom: 1.5rem; /* 24px */
}

.labelTelephoneUniqueTitle {
    font-size: 1.25rem; /* 20px */
    font-weight: bold;
    color: #333;
}

.labelTelephoneUniqueData {
    font-size: 1rem; /* 16px */
    color: #555;
}

.btnsubmit {
    background-color: #6142FE;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem; /* 12px 24px */
    font-size: 1rem; /* 16px */
    cursor: pointer;
    border-radius: 0.5rem; /* 8px */
}

.btnsubmit:hover {
    background-color: #5036cc;
}
.btnToForm{
    width: 15rem;
    margin: 0 auto 1rem auto;

}

input[name="qte"] {
    width: 4rem; /* 64px */
    padding: 0.5rem; /* 8px */
    font-size: 1rem; /* 16px */
    margin: 1rem 0; /* 16px */
}


.sectionForm article {
    margin-bottom: 1.5rem;
}

.fa-star {
    font-size: 1.25rem; /* 20px */
}

a.lien {
    color: #6142FE;
    text-decoration: none;
    margin-right: 1rem; /* 16px */
}

a.lien:hover {
    text-decoration: underline;
}

.footer-container{
    margin-top: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
}
.footer-container article ul{
    flex-direction: column;

}
.footer-container article ul li a{
    color: #6142FE;
    padding: 0.5rem 0;

}
/* Style pour les conteneurs div à l'intérieur de la section */
section > article {
    margin-bottom: 1.5rem; /* Espace entre les éléments du formulaire */
}

/* Style pour les labels */
section label:first-child {
    display: block;
    font-weight: bold;
    font-size: 1rem; /* Taille de police pour les titres des labels */
    margin-bottom: 0.5rem; /* Espace sous les titres des labels */
}

section label:last-child {
    display: block;
    font-size: 1rem; /* Taille de police pour les valeurs des labels */
    margin-top: 0.25rem; /* Espace au-dessus des valeurs des labels */
}
.logoutlink{
    width: 20rem;
    background-color: #DC3545;
}
.btnCommande{
    width: 10rem;
    margin: auto;
    padding: 1rem;
}
.change{
    display: block;
}
.none{
    display: none;
}
/* Pour les écrans de 56.25rem (900px) et moins pour tablette */ 
@media screen and (max-width: 56.25rem) {
   
    main {
        margin: 10rem auto 0 auto;
        width: 95%;
    }
    .mainInscriptionConnexion, .sectionForm{
        margin-top: 1rem;

    }
    .mainInscriptionConnexion{
        margin-top: 11rem;
    }
    #logo{
        width: 3.5rem;
    }
    .imgTelephones{
        width: 0rem;
    }

    .sectionForm article img{
        margin: 0 0 0 0rem;

        width: 24rem;
    }
    
    
    .sectionForm, #sectionTelephoneUnique, .sectionForm>article, #telephoneunique{
        width: 100%;
    
    }
    .mainInscriptionConnexion .sectionForm article form{
        width: 18rem;
    }
    .search__form,nav,.circle, .circle i{
        display: none;
    }
    .containe{
        justify-content: space-around;
    }
    .containe a img{
        margin: 1rem 0;
    }
    h1 {
        font-size: 2rem;
    }

    .sousligner {
        width: 1rem;
    }
    

    #accueilsection > article {
        width: 20rem;
        height: auto;
    }


    #accueilsection,#sectionTelephoneUnique{
        width: 48rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 30px;
    
    }
    .imgTelephones {
        height: auto;
        width: 100%;
    }

    .divArticle {
        flex-direction: row;
        align-items: center;
    }

    .paragrapheArticle {
        font-size: 1.8rem;
    }

    .btnAddTelephone {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }

    table {
        width: 100%;
        margin-top: 2rem;
    }

    th, td {
        padding: 1rem 0.5rem;
        font-size: 1.2rem;
    }

    th:first-child, td:first-child {
        padding-left: 1rem;
    }

    th:last-child, td:last-child {
        padding-right: 1rem;
    }
    #menu{
        margin: 0.5rem;
        border: 1px solid #6142FE;
        width: 3rem;
        height: 2rem;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5rem 0;
        border-radius: 5px;
    }
    .menuchange{
        border: 1px solid #6142FE;
        background-color: gray;
    }
    .menuburger{
        width: 2rem;
        height: 2px;
        background-color: #6142FE;
        margin: 2px 0;
    }
    .menuburgerchange{
        background-color: #6142FE;
    }
    
    /* .mainInscriptionConnexion .sectionForm form{
        width: 200rem;
    } */
    .imgforminscrpitionconnexion{
   }

   .listecommentaire{
    width: 20rem;
    margin-left: 2rem;
   }
   .btncommentaire{
    width: 17.5rem;
}
.formAdmin{
    width: 20rem;
}
.footer-container{
    flex-direction: column;
}

.nav__buttons ul{
    display: flex;
    flex-direction: column;

}
.change{
    display: block;
}

}

/* Pour les écrans de 30rem (480px) et moins */
@media screen and (max-width: 30rem) {
    main {
        margin: 9rem auto 0 auto;
    }
    h1 {
        font-size: 1.5rem;
    }

    .sousligner {
        width: 10rem;
    }
    #accueilsection {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    #accueilsection > article {
        width: 20rem;
        margin-bottom: 5rem;

    }

    .paragrapheArticle {
        font-size: 1.6rem;
    }
    .divArticle {
        flex-direction: row;
        padding: 1rem;
    }
    .divArticle button{
                margin-top: 1rem;
    }
    .btnAddTelephone {
        width: 3.5rem;
        height: 3.5rem;
        margin-top: 1rem;
    }
    th, td {
        font-size: 1rem;
    }
    .articleimg{
        display: none;
    }
    .sectionForm, #sectionTelephoneUnique, .sectionForm>article, #telephoneunique{
        width: 20rem;
    
    }
    .mainInscriptionConnexion .sectionForm article form{
        width: 18rem;
    }
    
    .containe{
        justify-content: space-around;
    }
    .containe a img{
        margin: 1rem 0;
    }
    h1 {
        font-size: 2rem;
    }

    .sousligner {
        width: 1rem;
    }

    

    #accueilsection > article {
        width: 90%;
        height: auto;
    }

    .imgTelephones {
        height: auto;
        width: 100%;
    }
    .imgTelephoneIndex {
        width: 20.5rem;
    }
    .divArticle {
        /* flex-direction: column;
        align-items: center; */
    }

    .paragrapheArticle {
        font-size: 1.8rem;
    }

    .btnAddTelephone {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }

    table {
        width: 100%;
        margin-top: 2rem;
    }

    th, td {
        padding: 1rem 0.5rem;
        font-size: 1.2rem;
    }

    th:first-child, td:first-child {
        padding-left: 1rem;
    }

    th:last-child, td:last-child {
        padding-right: 1rem;
    }
    #menu{
        margin: 0.5rem;
        border: 1px solid #6142FE;
        width: 3rem;
        height: 2rem;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5rem 0;
        border-radius: 5px;
    }
    .menuchange{
        border: 1px solid #6142FE;
        background-color: gray;
    }
    .menuburger{
        width: 2rem;
        height: 2px;
        background-color: #6142FE;
        margin: 2px 0;
    }
    .menuburgerchange{
        background-color: #6142FE;
    }
    .commentaireForm{
        flex-direction: column;
    }
    .listecommentaire{
        margin: 1rem 5rem 0 0;
        width: 18rem;
       }
    .btnsubmit{
        width: 20rem;
    }
    .btncommentaire{
        width: 17.3rem;
    }
    .btn{
        padding: 0.5rem;

    }
    .sectionForm{
        margin-top: 1rem;

    }
    .icon{
        margin: 2rem 0;
        position: initial;
    }
    .formAdmin{
        width: 17rem;
    }
    .noneLineTable{
        display: none;
    }
}


